<label class="sec-label view-id" for=""><%= locals.id %></label>

<div class="view-header d-flex justify-content-center flex-column">
    <label class="view-title mb-3"><%= locals.title %></label>
    <img src="<%= locals.img %>" alt="">
</div>  
 

<div class="d-flex justify-content-center mb-2 tbutf">
        
    <div class="tbutc d-flex justify-content-center mb-2">
    <button class="tbut t1">a<ion-icon name="arrow-dropright" class="arrow"></ion-icon></button>  
  </div>

  </div>

  <div class="d-flex justify-content-center mb-3 video-flex">
   
</div>


<div class=" view-sec d-flex justify-content-center flex-column">
<label class="sec-label" for="">imdRatring: <%= locals.rate %></label>
<label class="sec-label" for="">contentRating: <%= locals.contentRating %></label>
<label class="sec-label" for="">year: <%= locals.year %></label>
<label class="sec-label" for="">genres: <%= locals.genres %></label>
<label class="sec-label" for="">time: <%= locals.runtimeStr %></label>
<label class="sec-label" for="">plot: <%= locals.plot %></label>
<label class="sec-label" for="">actorss: <%= locals.actors %></label>
</div>

