<label class="sec-label view-id" for=""><%= locals.id %></label>

<div class="view-header d-flex flex-column justify-content-center ">
    <label class="view-title mb-3"><%= locals.title %></label>
    <img class="view-img smallv" src="<%= locals.img %>" alt="">
    <div class="img-view-flex largev">
    <img class="view-img" src="<%= locals.img %>" alt="">
  </div>
  </div>  
 

<div class="d-flex justify-content-center mb-2 tbutf">
        
    <div class="tbutc d-flex justify-content-center mb-2">
    <button class="tbut t1"><ion-icon name="arrow-dropright" class="arrow"></ion-icon></button>  
  </div>

  </div>

  <div class="video-flex">
   
  </div>


<div class=" view-sec d-flex justify-content-center flex-column">
<label class="sec-label" for="">imdRatring: <%= locals.rate %></label>
<label class="sec-label" for="">contentRating: <%= locals.contentRating %></label>
<label class="sec-label" for="">year: <%= locals.year %></label>
<label class="sec-label" for="">genres: <%= locals.genres %></label>
<label class="sec-label" for="">time: <%= locals.runtimeStr %></label>
<label class="sec-label" for="">plot: <%= locals.plot %></label>
<label class="sec-label" for="">actorss: <%= locals.actors %></label>
</div>

